/***********/
/* General */
/***********/

.God {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#members {
  display: flexbox;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 10% 4rem;
  align-content: center;
  color: #222222;
}

/************/
/* Top Area */
/************/

#members .topArea {
  display: block;
  margin: 4rem 0;
}

#members .topArea .title {
  text-transform: uppercase;
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

#members .topArea .horizontalLine {
  width: 30%;
  margin: 1rem 35%;
}

/***********/
/* Carosel */
/***********/
#members .carousel {
  width: 90%;
  margin: 0 5%;
}

#members .carousel .slick-next::before {
  color: #9E9E9E;
  font-size: 2.5rem;
}

#members .carousel .slick-prev::before {
  color: #9E9E9E;
  font-size: 2.5rem;
}

#members .carousel .slick-next::before:hover {
  color: #283592;
  font-size: 2.5rem;
}

/***************/
/* Bootom Area */
/***************/

#members .bottomArea {
  display: block;
}

#members .bottomArea .text {
  margin: 2rem 0 1rem;
  text-align: center;
}

#members .buttomArea .shareImage {
  width: 1rem;
  margin-left: 0.5rem;
}

#members .bottomArea .buttomArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#members .bottomArea .buttomArea .buttom {
  margin-top: 1rem;
  background: #283592;
  border-radius: 8px;
  padding: 1rem;
  color: #fff;
  font-size: medium;
  border-width: 0;
}
