*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.backImageMask{
  z-index: 10;
  position: fixed;
  background: linear-gradient(180deg, rgba(40, 53, 146, 0.4) -1.57%, rgba(19, 25, 70, 0.4) 131.14%);
}

.backImageBanner{


}

.text{

  z-index: 20;
  display: flex;
  position: fixed;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.title{


  font-family: Lexend Deca !important;
  font-style: normal;
  font-weight: 400px;
  font-size: 24.8342px;
  text-align: center;

  color: white;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

.subTitle{

  font-family: Sora;
  font-style: normal;
  font-weight: 600px;
  font-size: 36.6121px;
  text-align: center;

  color: white;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  max-width: 63%;
}









