@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/***********************/
/* All Contact Section */
/***********************/


.Contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Sora', sans-serif;
  padding-bottom: 115px;
  scroll-behavior: smooth;

}

.allContent {
  width: 100%;
  display: flex;
  max-width: 1140px;
  justify-content: space-around;
}


/*************/
/* Left Area */
/*************/

.leftArea {
  width: 50%;
  position: relative;
  display: inline-block;
}

.backImage {
  width: 90%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  padding-bottom: 1rem;
}

.donate {
  position: absolute;
  background-color: white;
  border-bottom-right-radius: 20%;
  width: 55%;
  height: 45%;
  top: 0;
}

.textDonate {
  font-size: 30px;
  margin: 1.5rem 1rem 2rem;
  font-weight: normal;
}

.buttonDonate {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  background-color: #131946;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: large;
  font-weight: 300;
}

.iconHeart {
  width: 16px;
}

.blueBox {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 35%;
  background-color: #5AAEE4;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  margin-right: 0.5rem;
}

/****************/
/* Vertical Line*/
/****************/

.verticalLine {
  width: 2px;
  height: auto;
  border-left: black 1px solid;
  margin: 1.5rem 0rem;
  border-color: #C7C7C7;
}


/**************/
/* Right Area */
/**************/

.rightArea {
  width: 50%;
}

.titleMessage {
  font-weight: normal;
  text-align: center;

  font-size: 30px;
  margin: 1.5rem 15%;
}

.form {
  display: block;
  width: 80%;
  margin: 0 10%;
}

.descriptionMessage {
  display: block;
  font-size: medium;
  margin-bottom: 0.4rem;
  color: #383D43;
}

.email {
  width: 100%;
  margin-bottom: 1rem;
  padding: 4px;
  font-family: 'Sora', sans-serif;
  font-size: medium;
}

.message {
  display: block;
  width: 100%;
  height: 30%;
  resize: none;
  padding: 4px;
  font-family: 'Sora', sans-serif;
  font-size: medium;
}

.submitMessageButtonArea {
  width: 50%;
  margin: 0 25%;
  display: flex;
  justify-content: center;
}

.submitMessageButton {
  margin-top: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0.3rem 1rem;
  color: #383D43;
  background-color: white;
  font-size: medium;
}

.submitMessageButton:hover {
  background-color: #131946;
  color: white;
}
