@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700&display=swap');




.global_impact{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: auto auto;
  margin-top:70px;
  justify-content: center;
  width: 100%;

  height: 130vh;


}

body{
  overflow-x: hidden;
}

.global_impact > div {

  color: white;
  width: 90%;



}

/* grid do infográfico */
.infogra{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;

}


/* dados sobre comunidade */
.commun{
  text-align: center;
  margin-left: 170px;

  grid-column: 1;
  grid-row: 1;

}

/* dados sobre familia */
.family{

  margin-top:-16px;
  margin-right: 240px;
  text-align: center;
  grid-column: 2;
  grid-row: 2;

}


.title_family{

  font-family: "Montserrat";
  font-style: "regular";
  font-weight: 900;
  font-size: 90px;
  color: #F5B41B;
}

.title_commun{
  display: flex;
  font-family: "Montserrat";
  font-style: "regular";
  font-weight: 900;
  font-size: 90px;
  color: #131946;
  align-items: center;
}

.text_commun{

  font-family: "Montserrat";
  font-style: "regular";
  font-weight: 400;
  font-size: 18px;
  color: #363636;
  max-width: 1000px;

}


.text_family{

  font-family: "Montserrat";
  font-style: "regular";
  font-weight: 400;
  font-size: 18px;
  color: #363636;

}

/***********/
/* Bloco direito - Descricao */
/***********/

.bloco_direito{
  grid-column: 2;
  grid-row: 1;
  align-items: right;
}

.title_direito{

  font-family: "Sora";
  font-style: "regular";
  font-weight: 400;
  font-size: 36px;
  width: 700px;

  margin-right:100px;
  color: black;
  text-align: right;
  margin-bottom: 2rem;
}

.description_direito{
  font-family: "Sora";
  font-style: "regular";
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: right;
  vertical-align: Top;
  line-height: 1.8;
  width: 500px;
  margin-left:200px;

}


/***********/
/* Bloco esquerdo - Descricao */
/***********/

.bloco_esquerdo{
  margin-top: 200px;
  z-index:3;
  grid-column: 1;
  grid-row: 2;
  margin-left:10%;



}

.title_esquerdo{

  font-family: "Sora";
  font-style: "regular";
  font-weight: 400;
  font-size: 36px;
  color: black;
  text-align: left;
  margin-bottom: 2rem;
}

.description_esquerdo{
  font-family: "Sora";
  font-style: "regular";
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: left;
  line-height: 1.8;
  width: 80%;

}

span {
  font-weight: 700;
  color: #F5B41B;
}


/* quadrante das fotos */
.photos{
  display: flex;
  justify-content: center;
  margin-top:60px;
  grid-column: 2;
  grid-row: 2;

}

.big_kid{
  border-bottom-right-radius: 23%;
  border-top-left-radius: 23%;
  width: 480px;
  height:332px;
  object-fit: cover;
  margin-left: 43%;
  margin-top:30%;
  color: #363636;
  font-family: "Montserrat";
  font-style: "regular";
}


.ornamento1{
  z-index: 1;
  position: absolute;
  margin-top: 298px;
  margin-left:-238px;

}

.vector1{
  position: absolute;
  margin-top: -10px;
  margin-left:110px;

}

.vector2{
  position: absolute;
  margin-top: 10px;
  margin-left:118px;

}

.vector3{
  position: absolute;
  margin-top: 97px;
  margin-left:-130px;
}

.vector4{
  position: absolute;
  margin-top: 85px;
  margin-left:-130px;

}

.starTop{
  position: absolute;
  margin-top: -25px;
  margin-left: -150px;

}

.starTop2{
  position: absolute;
  margin-top: -50px;
  margin-left: -100px;

}

.starBottom{
  position: absolute;
  margin-top: 135px;
  margin-left: 80px;

}

.starBottom2{
  position: absolute;
  margin-top: 110px;
  margin-left: 130px;

}

.ornamento2{
  z-index: 1;
  position: absolute;
  margin-top: 317px;
  margin-left:-268px;

}

.elipse1{
  z-index: 1;
  position: absolute;
  margin-top: 550px;
  margin-left:-18px;
}

.elipse2{
  z-index: 1;
  position: absolute;
  margin-top: 510px;
  margin-left:10px;


}



.cobrinha{
  z-index: 30;
  position:absolute;
  margin-top: 131px;
  margin-left:116px;
  width: 445.5px;
  height:43.68px;
}

.small_kid{

  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  width: 235px;
  height: 217px;
  object-fit: cover;
  margin-top:143%;
  margin-left: -160%;
  color: #363636;
  font-family: "Montserrat";
  font-style: "regular";

}





